/**
 * Each block is automatically wrapped in a div
 * with a generated class name that follos the scheme
 * `k-editor-$type-block` You can use this to scope
 * all your css within a block
 */
 .k-editor-textmega-block {
  margin-bottom: .75rem;
}
.k-editor-textmega-block .ProseMirror {
  line-height: 1em;
  font-size: 3vw;
}

.k-editor-textbig-block .ProseMirror {
  line-height: 1em;
  font-size: 2em;
}

.k-editor-textsmall-block .ProseMirror {
  line-height: 1em;
  font-size: 0.8em;
}



.k-editor-break-block {
  margin-bottom: .75rem;
  line-height: 1.5em;
}
.k-editor-break-block input {
  font: inherit;
  width: 100%;
  background: #d3deeb;
  border: 0;
  padding: .5rem;
  border-radius: 3px;
}
.k-editor-break-block input:focus {
  outline: none;
}
.k-editor-break-block .linebreak-block {
  background: #ececec;
  width: 100%;
  border-radius: 3px;
  height: 2rem;
  text-align: center;
  color: #cecece;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding-top: 5px;
}



.k-editor-button-block .ProseMirror a {
  background-color: #cecece;
  border-radius: 999px;
  margin: 0.5rem;

}