/* with kirby php templates it should be ok to run purgecss on all but if you run into problems that could happen with frameworks like Nuxt.js consult https://tailwindcss.com/docs/controlling-file-size/#app */
@tailwind base;
@tailwind components;

@font-face {
	font-family: 'FKGrotesk';
	src:  url('/assets/fonts/FKGrotesk-Regular.woff2') format('woff2'),
		  url('/assets/fonts/FKGrotesk-Regular.woff') format('woff');
  }
@font-face {
	font-family: 'FKGrotesk';
	font-style: italic;
	src:  url('/assets/fonts/FKGrotesk-Italic.woff2') format('woff2'),
		  url('/assets/fonts/FKGrotesk-Italic.woff') format('woff');
  }



html {
	font-family: 'FKGrotesk', -apple-system, "Helvetica Neue", "Arial";
	font-size: 1.75rem;
	@screen xl {
		font-size: 2rem;
	}

}



picture {

}

.merkur-layer-editor {
	// padding: 3rem 2rem;
	padding: 1rem;

	h3.text-mega {
		font-size: 24vw;
		line-height: 0.75;
		margin-bottom: 1.5rem;
		letter-spacing: -0.05em;
	}
	p {
		line-height: 1.1;
	}

	.text-small {
		font-size: 0.5rem;
	}
	.text-big {
		font-size: 1.3rem;
		line-height: 1;
		letter-spacing: -0.05em;

		@screen lg {
			font-size: 2.5rem;
		}
		@screen xl {
			font-size: 3.5rem;
		}
	}
}

@tailwind utilities;